html, body{
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  font-family: "Cormorant Garamond", serif;
  color: #333;
}

h1,h2{
  margin: 0;

  color: #4086bf;
  text-transform: uppercase;
}
  h1{
    width: 100%;

    text-align: center;

    font-size: 3rem;
  }
  h2{
    font-size: 1.66rem;
  }

button{
  padding: 0.6vw;

  color: #ffffff;
  background-color: #4086bf;
  border: 0;
  outline: 0;
  cursor: pointer;
}
button:hover{
  background-color: #69bbff;
}

.block{
  display: block;
}

.flex{
  display: flex;
}
  .content-center{
    justify-content: center;
  }
  .grow{
    flex-grow: 1;
  }
  .shrink{
    flex-shrink: 1;
  }

.w-full{
  width: 100%;
}

.big{
  font-size: 1.5rem;
}

.very-big{
  font-size: 2rem;
}

.very-very-big{
  font-size: 2.5rem;
}

.very-very-very-big{
  font-size: 3rem;
}

.text-center{
  text-align: center;
}

#content{
  display: flex;
  width: 100%;
}

#table{
  width: 50%;

  position: relative;

  margin: 0;

  margin-left: 1vw;
  margin-right: 1vw;

  border-collapse: collapse;
}
  #table #game-over{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: rgba(255, 255, 255, 0.9);
  }

  #table .row{
    display: flex;
    white-space: nowrap;

    width: 100%;

    text-align: center;
  }
    #table .row .cell{
      display: block;
      flex: 1 1 0px;

      min-height: 3.5vh;
      max-height: 5.75vh;
      overflow: hidden;

      margin: 0;
      padding: 0;

      border: #ccc 1px solid;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
    }
      #table .row .cell div:hover{
        background-color: #69bbff;
        color: #ffffff;
      }
      #table .row .cell div.selected{
        background-color: #4086bf;
        color: #ffffff;
      }
      #table .row .cell div.used{
        background-color: #254a69;
        color: #ffffff;
      }
        #table .row .cell div .content{
          overflow: hidden;
        }

#word-entries{
  width: 25vw;

  text-align: right;
}
  #word-entries .word-entry{
    display: inline-block;

    /* width: 100%; */

    margin: 0.5vw;
    margin-top: 0;
    margin-bottom: 0;

    /* text-transform: capitalize; */
    font-size: 2rem;
  }
  #word-entries .word-entry.found{
    text-decoration: line-through;
  }

  @media (max-width: 900px) {
    #content{
      flex-direction: column;
      align-items: center;
      width: 96%;
      margin-left: 2%;
    }

    #entries{
      order: 2;
      width: 100%;
    }
      #entries #word-entries{
        width: 100%;
        text-align: center;
      }

    #table{
      order: 1;
      width: 100%;
    }

    #timer{
      order: 3;
      width: 100%;
      text-align: center;
    }
  }
